
*{
	margin:0;
	padding: 0;
}

.main{
	width: 100%;
	background-image: url("images/cloth.jpg");
	background-size: cover;
	min-height: 100vh;
	font-family: "Playfair Display";
}
.name  {
  position: absolute; 
  top: 10px; 
  left: 448px; 
  font-family: "Playfair Display"; 
  font-size: 60px; 
  line-height: 60px; 
  color: #0D47A1FF; 
  cursor: pointer;
}
@keyframes fadeInOut {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadeInOut {
  animation: fadeInOut 5s linear infinite;
}

.navbar{
	width: 95%;
	height: auto;
	margin-left: 30px;
	}
.menu{
	width: 600px;
	float: left;
	height: auto;
}
ul{ 
	float: left;
	display: flex;
	padding-top:100px;
	justify-content: center;
	align-items: center;
	margin-left: 95%;
	text-decoration: none;
}

ul li{
	list-style: none;
	margin-left: 17.7px;
	font-size: 40px;
	display: flex;
	text-decoration: none;


}

ul li a{
	text-decoration: none;
}
ul li a {
    text-decoration: none;
}

.menu-button {
    text-decoration: none;
    color: #FFCF70FF;
    font-size: 15.6px;
    font-family: Mulish;
    font-weight: bold;
    transition: .3s ease;
    padding: 15px;
    border: 2px solid #FFCF70FF; 
    background-color: white; 
    cursor: pointer;
    border-radius: 30%;
}

.menu-button:hover {
    color: #764F00FF;
    background-color: #FFCF70FF; 
}

.menu-button:active {
    background-color: #FFCF70FF; 
}

.menu-button.current {
    color: #764F00FF;
    background-color: #FFCF70FF;
}

.intro{ 
  position: absolute; 
  top: 148px; 
  left: 70px; 
  width: 751px; 
  font-family: Quicksand; 
  font-size: 20px; 
  line-height: 22px; 
  color: #6978CAFF; 
}

.photo {
  position: absolute; 
  top: 200px; 
  left: 870px; 

}
a{
	text-decoration: none;
}
.photor{
  position: absolute; 
  top: 200px; 
  margin-right: 46%;
  padding-left:70px ;
	width: 1000px;
	}
.photob{
  position: absolute; 
  top: 1000px; 
  margin-right: 46%;
  padding-left:90px ;
  left: 60px;
	width: 1000px;
	}
.photon {
  position: absolute; 
  top: 200px; 
  margin-right: 46%;
  padding-left:70px ;

}
.photom {
  position: absolute; 
  top: 200px; 
  margin-left: 48.3%;
  padding-left:70px ;
}
.cmg {
  position: absolute; 
  top: 850px; 
  margin-right: 50px;
  padding-left: 460px ;
}
.nyu {
	color:#6978CAFF ;
	font-size: 40px;
}
.mamsha {
	color:#6978CAFF ;
	font-size: 40px;
	
}
.cmg {
  position: absolute; 
  top: 800px; 
  margin-right: 50px;
  padding-left: 500px ;
}

.video {
	padding-top: 200px;
	margin-right: 30px;
  padding-left: 450px ;
}
.rec1 {
	position: absolute; 
	padding-top: 20px;
	margin-right: 50px;
  padding-left: 535px;
}

.mysk {
	color: rgba(107, 185, 240, 1);
	position: absolute; 
	top: 370px; 
	margin-right: 46%;
	padding-left:60px ;
	font-family: EB Garamond; 
	font-size: 48px; 
	line-height: 68px; 
	}
.des {
	color: rgba(190, 86, 131, 1) ;
	font-size: 20px;
	position: absolute; 
	top: 805px; 
	margin-right: 48%;
	padding-left:120px ;
	font-family: Mulish;
	justify-content: center;
}

.prices {
	color: #89CFF0FF  ;
	position: absolute; 
	top: 465px; 
	margin-right: 46%;
	padding-left:60px ;
	font-family: EB Garamond; 
	font-size: 30px; 
	line-height: 68px;
}
.prx {
	color: rgba(190, 86, 131, 1) ;
	font-size: 20px;
	position: absolute; 
	top: 980px; 
	margin-right: 48%;
	padding-left:120px ;
	font-family: Mulish;
}
.timings {
	color: #89CFF0FF  ;
	position: absolute; 
	top: 540px; 
	margin-right: 46%;
	padding-left:60px ;
	font-family: EB Garamond; 
	font-size: 30px; 
	line-height: 68px;
}

.tim {
	color: rgba(190, 86, 131, 1) ;
	font-size: 20px;
	position: absolute; 
	top: 1130px; 
	margin-right: 48%;
	padding-left:120px ;
	font-family: Mulish;
}

.contact {
	color: #89CFF0FF  ;
	position: absolute; 
	top: 590px; 
	margin-right: 46%;
	padding-left:60px ;
	font-family: EB Garamond; 
	font-size: 30px; 
	line-height: 68px;
}

.cnt {
	color: rgba(190, 86, 131, 1) ;
	font-size: 20px;
	position: absolute; 
	top: 1230px; 
	margin-right: 48%;
	padding-left:120px ;
	font-family: Mulish;

}
#carouselExampleIndicators {
    width: 500px;
    color: black ;
    height: 700px;
    position: absolute;
    top: 750px;
    right: 150px;  
    margin-left: 50px;
}
.carousel-item img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.carousel-control-prev-icon:after,
.carousel-control-next-icon:after {
    content: ' ';
    display: inline-block;
    width: 20px;
    height: 20px;
    border-top: 3px solid rgba(0, 0, 0, 0.7);
    border-right: 3px solid rgba(0, 0, 0, 0.7);
}

.carousel-control-prev-icon:after {
    transform: rotate(-135deg);
}

.carousel-control-next-icon:after {
    transform: rotate(45deg);
}
.carousel-indicators li {
    background-color: black; 
}

.carousel-indicators .active {
    background-color: black;
}


.bsc {
	color: rgba(107, 185, 240, 1);
	position: absolute; 
	top: 750px; 
	margin-left: 75%;
	padding-right:60px ;
	font-family: EB Garamond; 
	font-size: 48px; 
	line-height: 68px; 
	}
.des2 {
	color: rgba(190, 86, 131, 1) ;
	font-size: 20px;
	position: absolute; 
	top: 1570px; 
	margin-left: 50%;
	padding-right:60px ;
	font-family: Mulish;
	justify-content: center;
}

.prices2 {
	color: #89CFF0FF  ;
	position: absolute; 
	top: 855px; 
	margin-left: 82%;
	padding-right:70px ;
	font-family: EB Garamond; 
	font-size: 40px; 
	line-height: 68px;
}
.prx2 {
	color: rgba(190, 86, 131, 1) ;
	font-size: 20px;
	position: absolute; 
	top: 1780px; 
	margin-left: 50%;
	padding-right:60px ;
	font-family: Mulish;
}

.timings2 {
	color: #89CFF0FF  ;
	position: absolute; 
	top: 950px;
	margin-left: 82%;
	padding-right:60px ;
	font-family: EB Garamond; 
	font-size: 38px; 
	line-height: 68px;
}
.tim2 {
	color: rgba(190, 86, 131, 1) ;
	font-size: 20px;
	position: absolute; 
	top: 1970px; 
	margin-left: 50%;
	padding-right:70px ;
	font-family: Mulish;
	left: 430px;
}

.contact2 {
	color: #89CFF0FF  ;
	position: absolute; 
	top: 1020px;
	margin-left: 82%;
	padding-right:60px; 
	font-family: EB Garamond; 
	font-size: 37px; 
	line-height: 68px;
}

.cnt2 {
	color: rgba(190, 86, 131, 1) ;
	font-size: 20px;
	position: absolute; 
	top: 2120px; 
	margin-left: 50%;
	padding-right:70px ;
	font-family: Mulish;
	left: 450px;
}
.carousel-inner2 {
   max-height: 530px; 
  max-width: 530px; 
  object-fit: contain;
  margin-left: 90px;
  margin-top: 1000px;
  transition: .3s ease;
}
.cap {
	color: rgba(107, 185, 240, 1);
	position: absolute; 
	top: 350px; 
	margin-right: 46%;
	padding-left:60px ;
	font-family: EB Garamond; 
	font-size: 48px; 
	line-height: 68px; 
	}
	
.des3 {
	color: rgba(190, 86, 131, 1) ;
	font-size: 20px;
	position: absolute; 
	top: 770px; 
	margin-right: 48%;
	padding-left:120px ;
	font-family: Mulish;
	justify-content: center;
}

.prices3 {
	color: #89CFF0FF  ;
	position: absolute; 
	top: 460px; 
	margin-right: 46%;
	padding-left:60px ;
	font-family: EB Garamond; 
	font-size: 30px; 
	line-height: 68px;
}

.prx3 {
	color: rgba(190, 86, 131, 1) ;
	font-size: 20px;
	position: absolute; 
	top: 970px; 
	margin-right: 48%;
	padding-left:120px ;
	font-family: Mulish;
}

.timings3 {
	color: #89CFF0FF  ;
	position: absolute; 
	top: 540px; 
	margin-right: 46%;
	padding-left:60px ;
	font-family: EB Garamond; 
	font-size: 30px; 
	line-height: 68px;
}
.tim3 {
	color: rgba(190, 86, 131, 1) ;
	font-size: 20px;
	position: absolute; 
	top: 1130px; 
	margin-right: 48%;
	padding-left:120px ;
	font-family: Mulish;
}

.contact3 {
	color: #89CFF0FF  ;
	position: absolute; 
	top:590px; 
	margin-right: 46%;
	padding-left:60px ;
	font-family: EB Garamond; 
	font-size: 30px; 
	line-height: 68px;
}
/
.cnt3 {
	color: rgba(190, 86, 131, 1) ;
	font-size: 20px;
	position: absolute; 
	top: 1230px; 
	margin-right: 48%;
	padding-left:120px ;
	font-family: Mulish;

}
.capphoto {
  position: absolute; 
  top: 800px; 
  left: 870px;
}
